In [1]:
import pandas as pd
import numpy as np

In [2]:
book_data = pd.read_csv("book_recom.csv")

In [3]:
book_data.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

In [4]:
book_data.shape

(26500, 6)

In [71]:
#pivot matrix
book_data_matrix = book_data.pivot(index = "bookTitle", columns = "userID", values= "bookRating")

In [72]:
#Filling NULL VALUE with Zeros
book_data_matrix.fillna(0, inplace =True)

In [73]:
book_data_matrix.head(10)

userID,14,23,26,51,67,99,135,243,254,256,...,278483,278514,278535,278552,278582,278633,278740,278769,278773,278843
bookTitle,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cold Heart: An Alex Delaware Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Kiss of Shadows (Meredith Gentry Novels (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Man in Full,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Pirate Looks at Fifty,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"A Wizard of Earthsea (Earthsea Trilogy, Book 1)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Wrinkle In Time,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
About a Boy (Movie Tie-In),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_data_matrix.values)

In [75]:
book_sparse

<198x11337 sparse matrix of type '<class 'numpy.float64'>'
	with 11110 stored elements in Compressed Sparse Row format>

In [76]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric = "cosine", algorithm = "brute")

In [77]:
book_sparse.shape

(198, 11337)

In [78]:
knn.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [79]:
#selecting random row for prediction
query_index = np.random.choice(book_sparse.shape[0])

In [80]:
print(query_index)

26

In [81]:
#finding distance and indeces for every columns and finding only nearest distances ones
distances, indices  = knn.kneighbors(book_sparse[query_index, :].reshape(1,-1), n_neighbors = 5)

In [82]:
distances

array([[3.33066907e-16, 8.55035846e-01, 8.70297301e-01, 8.73830384e-01,
        8.94234073e-01]])

In [83]:
indices

array([[ 26, 187,  12,  78,  36]], dtype=int64)

In [84]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print("Recommendation for{0}:\n".format(book_data_matrix.index[query_index]))
    else:
        print("{0}: {1}, with distances of {2}:".format(i, book_data_matrix.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendation forCat &amp; Mouse (Alex Cross Novels):

1: Trial by Fire, with distances of 0.8550358463969512:
2: Along Came a Spider (Alex Cross Novels), with distances of 0.8702973009356316:
3: Jack &amp; Jill (Alex Cross Novels), with distances of 0.8738303838759012:
4: Cradle and All, with distances of 0.8942340726704581: